server:
  port: 80

spring:
  application:
    name: springcloud-consumer-dept-80


eureka:
  client:
    # 不向注册中心注册自己
    register-with-eureka: false
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/

# 开启服务降级
feign:
  hystrix:
    enabled: true